<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MediaServer.Web.styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.PlayAudio = (element) => {
            // Play audio if player is ready
            if (element.readyState < 2) {
                element.oncanplay = (event) => {
                    element.ontimeupdate = window.UpdateTime;
                    element.play();
                };
            }
            else {
                element.ontimeupdate = window.UpdateTime;
                element.play();
            }
        }
        window.PauseAudio = (element) => element.pause();
        window.GetCurrentTime = (element) => Math.round(element.currentTime);
        window.GetDuration = (element) => Math.round(element.duration);
        window.UpdateTime = (event) => {
            const target = event.currentTarget;
            const currentTime = Math.round(target.currentTime);
            const timeElement = target.nextElementSibling;
            const sliderElement = timeElement.nextElementSibling;

            if (timeElement && sliderElement) {
                timeElement.innerHTML = new Date(currentTime * 1000).toISOString().slice(11, 19);;
                sliderElement.value = currentTime; // Update slider value directly
            } else {
                console.error("Time or slider element not found.");
            }
        }
    </script>
</body>

</html>
