@page "/albums"
@inject HttpClient Client

<PageTitle>Albums</PageTitle>

<h1>Albums</h1>

<FluentStack Wrap="true">
    @foreach (var album in Collection!)
    {
        <FluentCard Width="300px" Height="360px">
            <a href="/albums/@album.Id">
                <Image Id="@album.AlbumImages?.FirstOrDefault()?.Id" Title="@album.Name" Width="260" />
            </a>
            <p>
                <a href="/albums/@album.Id">@album.Name</a>
            </p>
        </FluentCard>
    }
</FluentStack>
@code {
    private IQueryable<Entities.Album>? Collection = Enumerable.Empty<Entities.Album>().AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        Collection = (await Client.GetFromJsonAsync<IEnumerable<Entities.Album>>("albums?$expand=AlbumImages($select=Id)"))!.AsQueryable();
    }
}