@rendermode InteractiveServer
@inject IStateService<QueueState> QueueStateService

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" Width="100%" Height="148px">
    <div class="album-cover">
        <img src="https://placehold.co/200x106?text=Current Track&font=roboto" />
    </div>
    <div class="current-track">
        <h1>@QueueState.Track?.Name</h1>
        <h5><strong>@QueueState.Track?.Album?.Artist?.Name</strong></h5>
    </div>
    <Player />
    <div class="controls">
    </div>
</FluentStack>

@code {
    private QueueState QueueState { get => QueueStateService.State; }
    protected override void OnInitialized() 
    {
        QueueStateService.OnChange += StateHasChanged;
    }
}